@import "tailwindcss";

:root {
  --fundo: #0B0F19;
  --destaque: #3B82F6;
  --texto: #E2E8F0;
  --texto-secundario: #94A3B8;
  --bordas: #1E293B;
  --cards: #111827;
  --hover: #38BDF8;
}

@theme inline {
  --color-background: var(--fundo);
  --color-primary: var(--destaque);
  --color-foreground: var(--texto);
  --color-muted: var(--texto-secundario);
  --color-border: var(--bordas);
  --color-card: var(--cards);
  --color-hover: var(--hover);

  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--fundo);
  color: var(--texto);
  font-family: var(--font-inter), sans-serif;
  min-height: 100vh;
}
